<% title "Admin/Reseller" %>
<h1>Lojas</h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />
<p>
  <strong>Name:</strong>
  <%= @reseller.name %>
</p>
<p>
  <strong>Fantasy Name:</strong>
  <%= @reseller.fantasy_name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @reseller.address %>
</p>
<p>
  <strong>Number:</strong>
  <%= @reseller.number %>
</p>
<p>
  <strong>Neibourhood:</strong>
  <%= @reseller.neibourhood %>
</p>
<p>
  <strong>City:</strong>
  <%= @reseller.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @reseller.state %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @reseller.phone %>
</p>
<p>
  <strong>Active:</strong>
  <%= @reseller.active %>
</p>

