<%=stylesheet_link_tag "contato.css" %>
<%content_for :head do%>
	<%=javascript_include_tag  "fancybox/jquery.fancybox.js" %>
	<%=javascript_include_tag  "jquery.validate.min.js" %>
	<%=javascript_include_tag  "meusmetodos.js" %>
<script>
jQuery(document).ready(function() {
	jQuery('.Duvidas').click(function(){
    jQuery('#Right_imprensa').addClass('hide');
		jQuery('#form_direita').removeClass('hide');
		jQuery('#form_show_msg').addClass('hide');
		jQuery('#contact_contact_type').val('1');
		})
	jQuery('.Comercial').click(function(){
    jQuery('#Right_imprensa').addClass('hide');
		jQuery('#form_direita').removeClass('hide');
		jQuery('#form_show_msg').addClass('hide');
		jQuery('#contact_contact_type').val('2');
		})
	jQuery('.Imprensa').click(function(){
    jQuery('#form_direita').addClass('hide');
		jQuery('#Right_imprensa ').removeClass('hide');
		jQuery('#form_show_msg').addClass('hide');
		})
});
</script>
<script>
	jQuery(document).ready(function(){
			jQuery('#form_direita').validate({

			rules: {
				"contact[name]": {
					required: true,
					minlength: 2
				},
				"contact[email]": {
					required: true,
					email: true
				},
				"contact[city]": {
					required: true
				},
				"contact[state]": {
					required: true,
				},								
				"contact[company]": {
					required: true
				},			
				"contact[message]": {
					required: true
				},
				"contact[phone]": {
					required: true
				}
			},
			messages: {
				"contact[name]": {
					required: "Preencha o seu nome completo!",
					minlength: "Minimo de dois caracteres!"
				},
				"contact[email]": {
					required: "Preencha seu e-mail de contato",
					email: "Formato de email inválido"
				},
				"contact[city]": "Digite o Nome da  Cidade",
				"contact[state]": "Escolha um Estado",
				"contact[company]": "Digite o Nome da  Empresa",
				"contact[message]": "Preencha o campo com sua mensagem ",
			    "contact[phone]": "Preencha o seu telefone com sua mensagem "
			}
		});
	});
</script>
<%end%>
<div id='form_esquerda'>
	<img src="images/img_contato.png" width="248" height="175" style="margin-right:20px; " /><br />
	<img src="images/bt_duvidasesugestoes.png" width="240" height="38"  class="Duvidas" /><br />
	<img src="images/bt_comercial.png" width="240" height="38" style="cursor:pointer;" class="Comercial" /><br />
  <img src="images/bt_imprensa.png" width="240" height="38" style="cursor:pointer;" class="Imprensa" />

</div>
<%= raw ("<div id='form_show_msg' >" + flash[:notice] + "</div>") if !flash[:notice].blank?%>
<%= form_for @contato, :url=>"contato", :html=>{:id=>"form_direita", :class=>"hide"} do |f| %>
				<%= f.hidden_field :contact_type %>
				<table width="460" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><img src="images/lb_nome_completo.png" width="105" height="14" class="Align_tit" /></td>
				  </tr>
				  <tr>
					<td><%=f.text_field :name , :class=>"input" %></td>
				  </tr>
				  <tr>
					<td><img src="images/lb_email.png" width="44" height="11" class="Align_tit" /></td>
				  </tr>
				  <tr>
					<td><%=f.text_field :email , :class=>"input" %></td>
				  </tr>
				  <tr>
					<td><img src="images/lb_cidade.png" width="47" height="14" class="Align_tit" /></td>
				  </tr>
				  <tr>
					<td><%=f.text_field :city , :class=>"input" %></td>
				  </tr>					  
				  <tr>
					<td><img src="images/lb_estado.png" width="46" height="14" class="Align_tit" /></td>
				  </tr>
				  <tr>
					<td><%= f.select :state, ([["AC", "AC"], ["AL","AL"], ["AP", "AP"], ["AM", "AM"], ["BA", "BA"], ["CE", "CE"], ["DF", "DF"], ["ES", "ES"], ["GO", "GO"], ["MA", "MA"], ["MT", "MT"], ["MS", "MS"], ["MG", "MG"], ["PA", "PA"], ["PB", "PB"], ["PR", "PR"], ["PE", "PE"], ["PI", "PI"], ["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"], ["RO", "RO"], ["RR", "RR"], ["SC", "SC"], ["SP", "SP"], ["SE", "SE"], ["TO", "TO"]]), {:include_blank => true}, :class= => "input" %> <br /><br /></td>
				  </tr>	 			  			  			  
				  <tr>
					<td><img src="images/lb_empresa.png" width="58" height="14" class="Align_tit"  /></td>
				  </tr>
				  <tr>
					<td><%=f.text_field :company , :class=>"input" %></td>
				  </tr>
				  <tr>
					<td><img src="images/lb_telefone.png" width="60" height="11" class="Align_tit"  /></td>
				  </tr>
				  <tr>
					<td><%=f.text_field :phone , :class=>"input" %></td>
				  </tr>
				  <tr>
					<td><img src="images/lb_mensagem.png" width="73" height="14" class="Align_tit"  /></td>
				  </tr>
				  <tr>
					<td><%=f.text_area(:message,:rows=>"10", :style=>"margin-left:-1px;")%></td>
				  </tr>
				  <tr>
					<td valign="bottom"><%= f.check_box :receive %>
					
					<img src="images/lb_desejo_receber.png" width="248" height="15" style="vertical-align:top !important; margin-top:4px;" /></td>
				  </tr>
				  <tr>
					<td><%=image_submit_tag("bt_enviar.png", :alt=>"Enviar", :title=>"Enviar", :class=>"botao") %></td>
				  </tr>
				</table>
<% end %>
<div id="Right_imprensa" class="hide" >
  <p>
    <span class="Text_purple">Ana Carolina Baili</span> - Semilla Comunicação<br />
    <span class="Text_purple">Telefone:</span> (11) 9674-6289<br />
    <span class="Text_purple">Email:</span> semillacomunicacao@ymail.com
  </p>
</div>			
			
</div>			
