<html>
<head>
<title>Contato de <%= @contact.name %> recebeido em <%= @contact.created_at%> </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<b>Dúvidas e Sugestões<br /></b>
	<b>Nome:  </b><%= @contact.name %><br />
	<b>E-mail: </b><%= @contact.email %><br />
	<b>Cidade: </b><%= @contact.city %><br />
	<b>Estado: </b><%= @contact.state %><br />		
	<b>Empresa: </b><%= @contact.company %><br />
	<b>Telefone: </b><%= @contact.phone %><br />
	<b>Mensagem: </b><%= @contact.message %><br />
	<br />
</body>
</html>
