<% title "Lista de Banners" %>
<h1>Lista de Banners</h1><br />
<p>Verifique abaixo a lista dos Banners cadastrados no sistema.</p><br />
<br />
<p style="text-align: right;"><%= submit_tag "+ Criar novo",:type=>"button",:onclick=>"window.open('"+new_admin_banner_path+"','_self');", :class => "Bt_enviar"%> </p>
<br />

<table cellspacing="0" class="tablesorter">
  <thead> 
  <tr>
    <th style="width:50%;">Texto</th>
    <th style="width:50%;">Link</th>
    <th style="width:50%;">Imagem</th>
    <th colspan="3" style="width:50%;">Ações</th>
  </tr>
  </thead> 
  <tbody>
  <% for banner in @banners %>
    <tr>
      <td><%= banner.texto %></td>
      <td><%= banner.link %></td>
      <td><%= image_tag(banner.imgbanner.url(:thumb))  %></td>
      <td><%= link_to "Visualizar", [:admin, banner] %></td>
      <td><%= link_to "Editar", edit_admin_banner_path(banner) %></td>
      <td><%= link_to "Excluir", [:admin, banner], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
   </tbody>
</table>

