<%title "Notícias" %>
<%content_for :head do%>
	<%= stylesheet_link_tag "noticias.css" %>
	<script>
	jQuery(function() {
		jQuery("div.Swap")
			.mouseover(function() { 
				var src = jQuery(this).find(".Swapimg").attr("src").replace("mediumpb/", "medium/");
			jQuery(this).find(".Swapimg").attr("src", src);
			})
			.mouseout(function() {
				var src = jQuery(this).find(".Swapimg").attr("src").replace("medium/", "mediumpb/");
				jQuery(this).find(".Swapimg").attr("src", src);
			});
	});
	</script>
<%end%>

<%
$div =0
$contador =0
 %>
<div id='article-noticias'> 
	<div id='body_footer'>
	<%@noticias.each do|noticiashow|%>
		<% if $contador != 2 %>
			<div onclick="window.location.href='<%= noticia_path(noticiashow)%>'" style="cursor:pointer;" class="Swap">
			<div class="noticia" <%=raw 'style=" margin-top:50px;"' if ($div > 2)%>>
				<div><%= image_tag noticiashow.image.url(:mediumpb), :class=>"Swapimg" %></div>
				<p><%= noticiashow.created_at.strftime('%d/%m/%Y')%></p>
				<h1><%= strip_tags(noticiashow.sumary.slice(0,70))%></h1>
				<span class="footer_noticias"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="TopBeauty" data-text="<%= strip_tags(noticiashow.sumary.slice(0,70))%>" rel="nofollow">Tweet</a>
					    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					    <iframe src="//www.facebook.com/plugins/like.php?href=<%= noticia_url(noticiashow)%>&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe></span>			
			</div>
			</div>
		<%  $contador = $contador +1
			$div = $div +1
			else %>
			<div onclick="window.location.href='<%= noticia_path(noticiashow)%>'" style="cursor:pointer;" class="Swap">
			<div class="noticia" <%=raw 'style=" margin-top:50px;"' if $div > 2%>>
				<div><%= image_tag noticiashow.image.url(:mediumpb), :class=>"Swapimg" %></div>
				<p><%= noticiashow.created_at.strftime('%d/%m/%Y')%></p>
				<h1><%= strip_tags(noticiashow.sumary.slice(0,70))%></h1>
				<span class="footer_noticias">
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-text="<%= strip_tags(noticiashow.sumary.slice(0,70))%>" data-via="TopBeauty" rel="nofollow">Tweet</a>
					    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					    <iframe src="//www.facebook.com/plugins/like.php?href=<%= noticia_url(noticiashow)%>&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe></span>

			</div>
			</div>
		</div>
		<div id='body_footer'>
		<%  $contador = 0
			$div = $div +1
			end 
		%>
			
	<% end %>
		</div>

	</div>
</div>
