<%content_for :head do%>
<%= stylesheet_link_tag "cadastro"%>
<%=javascript_include_tag "jquery.validate.min.js"%>
<%=javascript_include_tag "meusmetodos.js"%>
<%#=javascript_include_tag "jquery.meio.mask.js"%>
	<script>
		jQuery(document).ready(function(){		
    	jQuery('#new_user').validate({
        rules: {
            "user[name]": {
                required: true,
                minlength: 2
            },
			"user[last_name]": {
                required: true,
                minlength: 2
            },
			"user[email]": {
                required: true,
                email: true
            },
			"user[password]":{
				required:true,
				minlength: 6
			},			
			"user[password_confirmation]": {
                required: true,
                minlength: 6,
				equalTo: "#user_password"
            }
			
        },
        messages: {
            "user[name]":{
				required: "Preencha o seu nome",
				minlength: 	"Mínimo de 2 caracteres"
			},
			"user[last_name]":{
				required: "Preencha o seu sobrenome",
				minlength: 	"Mínimo de 2 caracteres"
			},
			"user[email]":{
				required: "Preencha o seu email",
				email: "Informe um email válido"	
			},
			"user[password]":{
				required: "Preencha com uma senha",
				minlength: "Mínimo de 6 caracteres"	
			},
			"user[password_confirmation]":{
				required: "Preencha com a confirmação",
				minlength: "Mínimo de 6 caracteres",
				equalTo: "Confirmação não é igual a senha"	
			}
        }
    });
});
	</script>

<% end %>

<div id="flash_error_cadastro" style="display:none;"></div>
<div id="box_registration">
	<%= form_for @user, :remote => true do |f| %>
		<div class="field">
			<%= f.label :name, "Nome" %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :last_name, "Sobrenome" %>
			<%= f.text_field :last_name %>
		</div>
		<div class="field">
			<%= f.label :email, "E-mail" %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password, "Senha" %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirmar Senha" %>
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "Salvar", :class => "Bt_enviar"  %>
		</div>
	<% end %>
</div>
