<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/stylesheets/resultado_assistente.css" type="text/css" rel="stylesheet" />
</head>

<body>
<table width="500" border="0" cellspacing="3" cellpadding="0">
  <tr>
    <td colspan="7"><h1><%=@titulo%></h1></td>
  </tr>
  <tr>
    <td colspan="7"><h2><%=@chamada%></h2></td>
  </tr>
  <tr>
    <td colspan="7"><p><%=@texto%></p></td>
  </tr>
  
<%if @isTimida%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/timida1.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/timida2.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/timida3.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/timida4.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/timida5.jpg", :width => "80")%></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>Glitter</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Cremosa</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Nature Trati</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>Colombiana</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Azaléia</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>003</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Essencial</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Stone Shine</p></td>
  </tr>
<%elsif @isExtrovertida%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/extrovertida1.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/extrovertida2.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/extrovertida3.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/extrovertida4.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/extrovertida5.jpg", :width => "80")%></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>Cremosa</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Cremosa</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Criative</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>U. Glitter</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>U.Glitter</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>Peace and Love</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Lapis Lazulli</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Ipanema</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Lança Perfume</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>New York Girl</p></td>
  </tr>

<%elsif @isRomantica%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/romantica1.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/romantica2.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/romantica3.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/romantica4.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/romantica5.jpg", :width => "80")%></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Glitter</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Nature Trati</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>Imagine</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Cold</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Illusion</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>003</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Brilher</p></td>
  </tr>
<%elsif @isOusada%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/ousada1.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/ousada2.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/ousada3.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/ousada4.jpg", :width => "80")%></td>
    <td width="116" bgcolor="#FFFFFF"><%=image_tag("assistente/ousada5.jpg", :width => "80")%></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>Crash</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Sensitive</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>One4Two</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>U. Glitter</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>Cremoso</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>Creaded</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Imagine</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Cara e Coroa</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Barcelona</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>Wet Land</p></td>
  </tr>
<%end%>
  <tr>
    <td colspan="7" align="right"><h4>Conte para suas amigas</h4></td>
  </tr>
  <tr>
    <td colspan="7" align="right">
					<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%=@tweet%>" data-count="none" data-via="TopBeauty" rel="nofollow">
						Tweet
					</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<iframe src="//www.facebook.com/plugins/like.php?href=http://www.topbeauty.com.br&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe></td>
  </tr>
</table>

</body>
</html>
