<%title "Produto" %>
<%content_for :head do%>
<%=stylesheet_link_tag "produto_interna.css" %>
<%=stylesheet_link_tag "rating/rateit.css" %>
<%=stylesheet_link_tag "rating/shCore.css" %>

<script>
	function ShowBox(cod){
	  jQuery("#Main_slider > div").addClass("hide");
	  jQuery("#show_"+cod).removeClass("hide");
	};

	jQuery(document).ready(function() {
	  //jQuery("#Main_slider > div").addClass("hide");

    //we bind only to the rateit controls within the products div
     jQuery('.rateit').bind('rated reset', function (e) {
         var ri = jQuery(this);
 
         //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
         var value = ri.rateit('value');
         var campo = ri.data('campo'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
         var colorid = ri.data('colorid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
 
         //maybe we want to disable voting?
         ri.rateit('readonly', true);
 
         jQuery.ajax({
             url: '/produtos/rating', //your server side script
             data: { campo: campo, value: value, color_id: colorid }, //our data
             type: 'POST',
             success: function (data) {
                  //alert(data);
                 //$('#response').append('<li>' + data + '</li>');
 
             },
             error: function (jxhr, msg, err) {
                  alert("error");
                 //$('#response').append('<li style="color:red">' + msg + '</li>');
             }
         });
     });
	});
</script>

 <script type ="text/javascript">
     
 </script>
<%end%>
<div id="article">
	<div id='interna'>
		<div id='int-produto'>
			<h1>PRODUTOS</h1>
			<img src="/images/linha_ondeencontrar.png" width="800" height="1" style="margin-bottom:20px;" />
			<h3>Linha <%=@line.name%></h3>
			<p><%=@line.description%></p>
			<br />
			<h4 class="Clique_slider">
			<%@categories.each do |c|%>
				<%=link_to c.name, "javascript:void(0);", :onclick =>"ShowBox(#{c.id})"%> |
			<%end%>
			</h4>
			<div id="Main_slider">
				<%counter = 0%>
				<%@categories.each do |c|%>
				<div id="show_<%= c.id %>" <%="class = 'hide'" if counter > 0%>>
					<!-- <p><%= c.description %></p>	-->
					<% produto = c.products.first
					if !produto.blank?
						colors = produto.colors.all
						if colors.count > 0
							%>
							<div id='produto'>
								<div id='prod-esquerda'>
									<div id='img-produto'>
										<%= image_tag colors.first.imgenamel.url, :id => "img_prod", :width => "120"%>
									</div>
									<img src="/images/tit_veja_ampliado.png" style="margin-top:10px; margin-bottom:10px;"/><br />
									<!-- <%= image_tag colors.first.imghand.url(:small)%>-->
									<%= image_tag colors.first.imgenamel.url(:small)%>
									<br />
									<img src="/images/tit_cores.png" style="margin-top:10px; margin-bottom:10px;"/><br />
									<div id="Pallete_box">
										<% colors.each do |color| %>
											<%=link_to(image_tag(color.imgpallete.url(:small)), colors_produtos_path + "?cor=" + color.id.to_s, :remote => :true)%>
										<%end%>					
									</div>
								</div>
								<div id='prod-direita'>
									<h2><%= colors.first.name%></h2>
									<p><%= colors.first.description%></p>
									<img src="/images/img_avalie.png" width="290" height="80" />
									<img src="/images/linha_ondeencontrar.png" width="295" height="1" style="margin-top:5px;" />

									<table width="300" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="right"><img src="/images/tit_moderna.png" width="60" height="11" /></td>
											<td height="35" align="center" valign="bottom">
												<div id="moderna" class="rateit bigstars" id="rateit1" data-campo="moderna" data-rateit-starwidth="30" data-rateit-starheight="28" data-colorid="<%= colors.first.id%>" data-rateit-value="<%= colors.first.modern / colors.first.modern_total rescue 0 %>"></div>
											</td>
										</tr>
										<tr>
											<td align="right" width="100"><img src="/images/tit_conservadora.png" width="91" height="11" /></td>
											<td height="35" align="center">
												<div  id="conservadora" class="rateit bigstars"  data-campo="conservadora" data-rateit-starwidth="30" data-rateit-starheight="28" data-colorid="<%= colors.first.id%>" data-rateit-value="<%= colors.first.conservative / colors.first.conservative_total rescue 0 %>"></div>                
											</td>
										</tr>
										<tr>
											<td align="right"><img src="/images/tit_sexy.png" width="33" height="14" /></td>
											<td height="35" align="center">
												<div  id="sexy" class="rateit bigstars"  data-campo="sexy" data-rateit-starwidth="30" data-rateit-starheight="28" data-colorid="<%= colors.first.id%>"  data-rateit-value="<%= colors.first.sexy / colors.first.sexy_total rescue 0 %>"></div>
											</td>
										</tr>
									</table>
									<img src="/images/tit_periodo.png" width="290" height="31" /><br />
									<img src="/images/linha_ondeencontrar.png" width="295" height="1" style="margin-top:5px;" />
									<table width="300" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="right"><img src="/images/tit_noite.png" width="37" height="11" /></td>
											<td height="35" align="center" valign="bottom">
												<div  id="noite" class="rateit bigstars"  data-campo="noite" data-rateit-starwidth="30" data-rateit-starheight="28" data-colorid="<%= colors.first.id%>" data-rateit-value="<%= colors.first.night / colors.first.night_total rescue 0 %>"></div>
											</td>
										</tr>
										<tr>
											<td align="right" width="100"><img src="/images/tit_dia.png" width="24" height="11" /></td>
											<td height="35" align="center" valign="bottom">
												<div class="rateit bigstars"  data-campo="dia" data-rateit-starwidth="30" data-rateit-starheight="28" data-colorid="<%= colors.first.id%>"  data-rateit-value="<%= colors.first.day / colors.first.day_total rescue 0 %>"></div>                
											</td>
										</tr>
									</table>
								</div>
							</div>
					<%	end
					end
					%>			
				</div>	
				<%counter = counter + 1%>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
