<%content_for :head do%>
	<%=javascript_include_tag  "fancybox/jquery.fancybox.js" %>
	<%=javascript_include_tag  "jquery.validate.min.js" %>
	<%=javascript_include_tag  "meusmetodos.js" %>
<script>
	jQuery(document).ready(function(){
			jQuery('#form_direita').validate({

			rules: {
				"contact[name]": {
					required: true,
					minlength: 2
				},
				"contact[email]": {
					required: true,
					email: true
				},			
				"contact[message]": {
					required: true
				},
				"contact[phone]": {
					required: true
				}
			},
			messages: {
				"contact[name]": {
					required: "Preencha o seu nome completo!",
					minlength: "Minimo de dois caracteres!"
				},
				"contact[email]": {
					required: "Preencha seu e-mail de contato",
					email: "Formato de email inválido"
				},
				"contact[company]": "Digite o Nome da  Empresa",
				"contact[message]": "Preencha o campo com sua mensagem ",
			    "contact[phone]": "Preencha o seu telefone com sua mensagem "
			}
		});
	});
</script>
<%end%>
<div id='form_esquerda'>
	<img src="images/img_trabalhe_conosco.png" width="251" height="295" style="margin-right:20px; " /><br />
</div>
<%= raw ("<div id='form_show_msg' >" + flash[:notice] + "</div>") if !flash[:notice].blank?%>

<%= form_for @contato, :url=>"t_conosco", :html=>{:id=>"form_direita",:multipart => true} do |f| %>
		<table width="460" border="0" cellspacing="0" cellpadding="0" <%= "class='hide'" if !flash[:notice].blank?%>>
		  <tr>
			<td><img src="images/lb_nome_completo.png" width="105" height="14" class="Align_tit"  /></td>
		  </tr>
		  <tr>
			<td><%=f.text_field :name , :class=>"input" %></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_email.png" width="44" height="11" class="Align_tit" /></td>
		  </tr>
		  <tr>
			<td><%=f.text_field :email , :class=>"input" %></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_curriculum.png" width="108" height="11" class="Align_tit"  /></td>
		  </tr>
		  <tr>
			<td><%= f.file_field :curriculum %><br /><br /></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_telefone.png" width="60" height="11" class="Align_tit"  /></td>
		  </tr>
		  <tr>
			<td><%=f.text_field :phone , :class=>"input" %></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_mensagem.png" width="73" height="14" class="Align_tit"  /></td>
		  </tr>
		  <tr>
			<td><%=f.text_area(:message,:rows=>"10",:style=>"margin-left:-1px;")%></td>
		  </tr>
		  <tr>
			<td><%=image_submit_tag("bt_enviar.png", :alt=>"Enviar", :title=>"Enviar", :class=>"botao") %></td>
		  </tr>
		</table>
<% end %>
</div>
