<div class="clear"></div>
<div id='footer'>
	<div id='footer-top'>
		<div class="footer_box1" >
			<img src="/images/tit-tbcf.png" width="194" height="21" />
			<p>R. Dr. Waldomiro Franco da Silveira, 450.</p>
			<p>Recreio Estoril</p>
			<p>Atibaia</p>
			<p>São Paulo</p>
			<p>T. 11 4413.4830 / 11 4402.2552</p>
		</div>
		<div class="footer_box2" >
			<img src="/images/tit-produtos.png" width="74" height="15" />
			<%@lines.each do |l|%>
				<p><%=link_to l.name, produto_path(l)%></p>
			<%end%>
			<!-- <p><a href="produto_interna.html">Linha Básica</a></p>
			<p><a href="produto_interna.html">142</a></p>
			<p><a href="produto_interna.html">Linha Cuidados</a></p>
			<p><a href="produto_interna.html">Crash</a></p>
			<p><a href="produto_interna.html">Nature Trati</a></p>
			<p><a href="produto_interna.html">Sensitive</a></p>
			<p><a href="produto_interna.html">Ultimate 3D</a></p>
			<p><a href="produto_interna.html">Ultimate Glitter</a></p>
			<p><a href="produto_interna.html">Glitter</a></p>-->
		</div>
		<div class="footer_box2" >
			<img src="/images/tit-top-beauty.png" width="94" height="19" />
			<p><%= link_to "Missão, Visão e Valores" , empresa_path %></p>
		</div>
		<div class="footer_box3" >
			<img src="/images/tit-cadastrese.png" width="98" height="15" />
			<p>Para receber nossa newsletter!</p>
			<form>
				
			</form>
		</div>
	</div>
	<div id='footer-footer'>
		<span style="vertical-align:midle; display:inline; width:480px;top:19px; left:482px; position:absolute; text-align:right;">
      <%= link_to image_tag('bt_termos_uso.png', :border=>"0", :width=>"117", :height=>"20"), termos_de_uso_path%>
		  <%= link_to image_tag('bt_politica_privacidade.png', :border=>"0", :width=>"167", :height=>"20"), politica_de_privacidade_path%>
		  <%= link_to image_tag('bt_trabalhe_conosco.png', :border=>"0", :width=>"135", :height=>"20"), t_conosco_index_path, :class=>"various fancybox.iframe" %>
    </span>
	</div>
</div>
