	<div id='header'>
    	<div id='menu'>
        	<div id='logo'>
				<%= link_to image_tag('logo.png', :border=>"0", :width=>"153", :height=>"282"), root_path%>
            </div>
            <div id='m-itens'>
            	<ul>
					<li><%= link_to image_tag('m_topbeaty.png', :border=>"0", :width=>"107", :height=>"21"), empresa_path %></li>
					<li><%= link_to image_tag('m_produtos.png', :border=>"0", :width=>"93", :height=>"21"), produtos_path %></li>
					<li><%= link_to image_tag('m_ondeencontrar.png', :border=>"0", :width=>"142", :height=>"21"), onde_encontrar_path %></li>
					<li><%= link_to image_tag('m_contato.png', :border=>"0", :width=>"82", :height=>"21"), contato_index_path, :class=>"various fancybox.iframe" %></li>
               	</ul>
            </div>
            <!--  <div id='contato'>
				<%= link_to image_tag('bt_contato.png', :border=>"0", :width=>"120", :height=>"67"), contato_index_path, :class=>"various fancybox.iframe" %>
            </div> -->
        </div>
    </div>
