<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Top Beauty</title>
<%= javascript_include_tag :defaults %>
<script>
jQuery.noConflict();
</script>
<%=stylesheet_link_tag "reset.css" %>
<%=stylesheet_link_tag "geral.css" %>
<%=stylesheet_link_tag "../javascripts/fancybox/jquery.fancybox.css" %>
<%=stylesheet_link_tag "slider.css" %>
<%=javascript_include_tag  "jcycle.js" %>
<%=javascript_include_tag  "easing.js" %>
<%=javascript_include_tag  "fancybox/jquery.fancybox.js" %>

<script>
jQuery(document).ready(function() {
	
	var request = jQuery.ajax({
	  url: "/preloader/slides",
	  type: "GET",
	  //data: {id : menuId},
	  dataType: "html"
	});

	request.done(function(msg) {
	  	//alert("carregou");
		jQuery('#slideshow').html(msg)
		jQuery('#slideshow') 
		.cycle({ 
			fx:     'scrollLeft', 
			speed:  'slow', 
			timeout: 6000,

			pager:  '#nav'
		});
		//$("#log").html( msg );
	});

	request.fail(function(jqXHR, textStatus) {
	  alert( "Request failed: " + textStatus );
	});

	jQuery(".fancybox").fancybox();
	jQuery(".various").fancybox({
		maxWidth	: 960,
		maxHeight	: 700,
		fitToView	: false,
		width		: '85%',
		height		: '85%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
    
	jQuery('.bt_box_nature_on').click(function(){
		jQuery('#box_nature_off').slideToggle('slow').addClass('hide');
		jQuery('#box_nature_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_nature_off').click(function(){
		jQuery('#box_nature_on').slideToggle('slow').addClass('hide');
		jQuery('#box_nature_off').slideToggle('slow').removeClass('hide');
	});
	jQuery('.bt_box_glitter_on').click(function(){
		jQuery('#box_glitter_off').slideToggle('slow').addClass('hide');
		jQuery('#box_glitter_on').slideToggle('slow').removeClass('hide');
	});
	jQuery('.bt_box_glitter_off').click(function(){
		jQuery('#box_glitter_on').slideToggle('slow').addClass('hide');
		jQuery('#box_glitter_off').slideToggle('slow').removeClass('hide');
	});
	jQuery('.bt_box_3d_on').click(function(){
		jQuery('#box_3d_off').slideToggle('slow').addClass('hide');
		jQuery('#box_3d_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_3d_off').click(function(){
		jQuery('#box_3d_on').slideToggle('slow').addClass('hide');
		jQuery('#box_3d_off').slideToggle('slow').removeClass('hide');
	});
	jQuery('.bt_box_crash_on').click(function(){
		jQuery('#box_crash_off').slideToggle('slow').addClass('hide');
		jQuery('#box_crash_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_crash_off').click(function(){
		jQuery('#box_crash_on').slideToggle('slow').addClass('hide');
		jQuery('#box_crash_off').slideToggle('slow').removeClass('hide');
	});
	jQuery('.bt_box_oneftwo_on').click(function(){
		jQuery('#box_oneftwo_off').slideToggle('slow').addClass('hide');
		jQuery('#box_oneftwo_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_oneftwo_off').click(function(){
		jQuery('#box_oneftwo_on').slideToggle('slow').addClass('hide');
		jQuery('#box_oneftwo_off').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_basica_on').click(function(){
		jQuery('#box_basica_off').slideToggle('slow').addClass('hide');
		jQuery('#box_basica_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_basica_off').click(function(){
		jQuery('#box_basica_on').slideToggle('slow').addClass('hide');
		jQuery('#box_basica_off').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_sensitive_on').click(function(){
		jQuery('#box_sensitive_off').slideToggle('slow').addClass('hide');
		jQuery('#box_sensitive_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_sensitive_off').click(function(){
		jQuery('#box_sensitive_on').slideToggle('slow').addClass('hide');
		jQuery('#box_sensitive_off').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_adriane_on').click(function(){
		jQuery('#box_adriane_off').slideToggle('slow').addClass('hide');
		jQuery('#box_adriane_on').slideToggle('slow').removeClass('hide');
	});
	
	jQuery('.bt_box_adriane_off').click(function(){
		jQuery('#box_adriane_on').slideToggle('slow').addClass('hide');
		jQuery('#box_adriane_off').slideToggle('slow').removeClass('hide');
	});

});
</script>
<script>
	jQuery(function() {
		jQuery("div.Swap")
			.mouseover(function() { 
				var src = jQuery(this).find(".Swapimg").attr("src").replace("mediumpb/", "medium/");
			jQuery(this).find(".Swapimg").attr("src", src);
			})
			.mouseout(function() {
				var src = jQuery(this).find(".Swapimg").attr("src").replace("medium/", "mediumpb/");
				jQuery(this).find(".Swapimg").attr("src", src);
			});
	});
</script>
</head>
<body>
<div id='section'>
	<%= render :file =>"layouts/_header.html.erb" %>
    <div id='slider'>
    	<div id='slideshow'>
            <img src="/images/ajax-loader.gif" style="margin-top:300px;">
        </div>
        <div id='nav_control'>
        	<div id='nav'></div>
        </div>
    </div>
<div id='article'>
    	<div id='body_top'>
        	<div id='esmalte-do-dia'>
            	<%if @Daily%>
				<div id='edd-top'>
                	<img src="images/tit-esmalte-dia.png" width="178" height="35" />
                    <h1><%=@Daily.name%></h1>
                </div>
                <div id='edd-body'>
                	<div id='edd'>
                		<!-- <img src="images/img_esmaltedia.png" width="74" height="202" /> -->
						<%=image_tag(@Daily.imgenamel.url(), :height => "190")%>
                	</div>
                    <div id='edd-text'>
                    	<h1>O esmalte de hoje é o <b><%=@Daily.name%></b>, da linha <b><%=@Daily.product.category.line.name%>.</b></h1>
                		<p><%=@Daily.tip%></p>
                	</div>
                </div>
                <div id='edd-footer'>
                	<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="SeuTwitter" rel="nofollow">
						Tweet
					</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.topbeautycosmeticos.com.br&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
                </div>
				<%end%>
            </div>
            <div id='vsh'>
            	<div id='top-vsh'>
                	<img src="images/img_vsh.png" width="262" height="42" />
                </div>
                <div id='body-vsh'>
                	<a href="/assistente" class="various fancybox.iframe"><img src="images/img_vsh_body.png" width="319" height="188" /></a>
                </div>
                <div id='footer-vsh'>
                	<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="SeuTwitter" rel="nofollow">
						Tweet
					</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.topbeautycosmeticos.com.br&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
	
        <div id='body_footer'>
	    <div style="display:block; position:relative; text-align:left; width:960px; height:28px;"><img src="images/tit-noticias.png" width="116" height="27" style="position:absolute; left:0px !important; " /></div><br />
                <%@noticias.each do|n|%>
     	    <div onclick="window.location.href='<%= noticia_path(n)%>'" class="Swap" style="cursor:pointer;" >
            	<div class="noticia"> 
		        	<div><%= image_tag n.image.url(:mediumpb), :class=>"Swapimg" %></div>
		            <p></p>
		            <h1><%= strip_tags(n.sumary.slice(0,70))%></h1>
			
		            <span class="footer_noticias"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="TopBeauty" data-text="<%= strip_tags(n.sumary.slice(0,70))%> - <%= noticia_url(n)%> " rel="nofollow">Tweet</a>
					    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					    <iframe src="//www.facebook.com/plugins/like.php?href=<%= noticia_url(n)%>&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe></span>
                </div>
			</div>
			<%end%>

        </div>
    </div>
    <%= render :file =>"layouts/_footer.html.erb" %>
</div>
</body>
</html>
